<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Amysto">

  <title>{% block title %}{{ "Amysto"|trans }}{% endblock %}</title>
  <script type="text/javascript" src="{{ absolute_url(asset('assets/bower_components/jquery/dist/jquery.min.js')) }}"></script>
  <link rel="icon" type="image/x-icon" href="{{ absolute_url(asset('favicon.ico')) }}" />

  <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('assets/bower_components/bootstrap/dist/css/bootstrap.min.css')) }}">
      <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('bundles/css/main.css')) }}">


  {% block stylesheets %}{% endblock %}
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- <a class="navbar-brand" href="#" title=""></a> -->
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Amysto</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li {% if activeSite is defined and activeSite == 'connexion' %}class="active"{% endif %}><a href="#" title="{{ 'Se connecter' }}"><span class="glyphicon glyphicon-log-in"></span>{{ ' Se connecter' }}</a></li>
          <li {% if activeSite is defined and activeSite == 'su' %}class="active"{% endif %}><a href="#" title="{{ "S'incrire" }}"><span class="glyphicon glyphicon-user"></span>{{ " S'incrire" }}</a></li>
          {% if app.user and is_granted("ROLE_ADMIN") %}
            <!-- <li {% if activeSite is defined and activeSite == 'admin' %}class="active"{% endif %}><a href="#" title="Espace Admin">Admin</a></li> -->
          {% endif %}
          {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li><a href="{{ absolute_url(path('fos_user_security_logout')) }}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div class='container-fluid'>
    <div class="row">
      {% block sidebar %}
        <div class="col-md-3 col-lg-2 sidebar">
          {% block sidebar_content %}{% endblock %}
          </div>
        {% endblock %}

        {% block body %}{% endblock %}

    </div>
 
  {% block content %}{% endblock %}
 </div>

  <script src="{{ absolute_url(asset('bundles/fosjsrouting/js/router.js')) }}"></script>
  <script src="{{ absolute_url(path('fos_js_routing_js', {"callback": "fos.Router.setData"})) }}"></script>


  <script type="text/javascript" src="{{ absolute_url(asset('assets/bower_components/bootstrap/dist/js/bootstrap.min.js')) }}"></script>


  {% block javascripts %}{% endblock %}
</body>
</html>
